default: &default
  adapter: mysql2
  database: lipans
  host: localhost
  username: root
  password:
  pool: 5
  timeout: 5000
  encoding: utf8
  port: 3306
  collation: utf8_general_ci

development:
  <<: *default
  database: lipans_development


production:
  <<: *default
  database: lipans_production